/******************** GENERAL **********************/
input {
	font-size: 13pt;
	padding: 10px 12px;
	min-width: 50%;
	border: 1px solid black;
}

select {
	font-size: 13pt;
}

/******************* ARTICLE TAB *******************/
.editor-tab {
	border: 1px solid #ccc;
	background-color: #f1f1f1;
    width: 100%;
}

.editor-tab > button {
	background-color: inherit;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 18px 20px;
	transition: 0.3s;
	font-size: 17px;
}

.editor-tab > button:hover {
	background-color: #ddd;
}


.editor-tab > button.active {
	background-color: #ccc;
}

.tabcontent {
	text-align: center;
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
	border-bottom: none;
    min-height: 800px;
	background-color: #f1f1f1;
	background-image:
    radial-gradient(#8693AB 5%, transparent 0), 
    radial-gradient(#8693AB 5%, transparent 0);
	background-size: 30px 30px;
	background-position: 0 0, 15px 15px;
	
}

#title {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#editor {
	white-space: pre-line;
	position: absolute;
	align-self: center;
	justify-content: center;
	max-height: 100%;
	max-width: 60%;
	min-width: 60%;
	font-size: 13pt;
	padding: 5% 10%;
	resize: none;
	outline: none;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.25);
    border: 1px solid black;
	text-align: left;
	margin: auto 15% auto 19%;
    line-height: 120%; /* To possibly fix later */
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: #ffffff;
}

.ql-toolbar .ql-snow {
	border: 10px solid orange;
}

/******************** IMAGE TAB ********************/
#image-wrapper, label[for="upload-image"], #image-box {
	border: 2px dashed #8693AB;
    margin: 10px;
}

#image-container div{
	height: 500px;
	width: 500px;
	background-color: #BDD4E7;
	margin: 50px auto;
	text-align: center;
}

#image-wrapper div {
	height: 50%;
	width: 75%;
}

label[for="upload-image"] {
	padding: 5px;
	border: 2px dashed #8693AB;
}

label[for="upload-image"]:hover {
	cursor: pointer;
}


/****************** SUBMISSION TAB *****************/
.get-info {
    height: 500px;
	width: 500px;
    border: 1px solid black;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.25);
    margin: 50px auto;
	color: #83A8F0;
	text-align: center;
	background-color: #ffffff;
}

.get-info > input[type="text"]{
	margin: 10px auto 10px auto;
}

.get-info > #submit-button, #save-button {
	margin: 10px auto auto auto;
}
.get-info > label {
	display: block;
}


#input-text {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13pt;
    margin: auto 25% 10px 25%;
}

#input-text::placeholder {
    color: #83A8F0;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* Others */
#submit-button, #save-button, #verify-submit, #cancel-submit {
	margin: 20px 0px 0px 0px;
    width: 120px;
    max-width: 120px;
    min-width: 120px;
    height: 25px;
    text-align: center;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 2px 5px 6px 5px;
    border: 1px solid black;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
	font-size: 16px;
	cursor: pointer;
}

#verify-submit {
	background-color: springgreen;
}

#cancel-submit {
	background-color: red;
}

#verify-submit:hover, #cancel-submit:hover {
	opacity: 0.6;
}

#submit-button:focus, #save-button:focus, #verify-submit:focus, #cancel-submit:focus {
    outline: none;
}

.submit {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
}