/*Article Details*/
.em-row, .em-left, .em-mid, .em-right {
	display: flex;
}

.em-row {
	flex-direction: row;
}

.em-left, .em-mid, .em-right {
	flex-direction: column;
	width: 33.33%;
}

.em-col {
	float: left;
	margin: auto 50px auto 50px;
	overflow: hidden;
    text-align: center;
}

.em-col input[type="placeholder"] {
	color: red;
}

.em-col > input[type="text"], #category-title {
	margin: auto auto 10px auto;
    padding: 5px 10px 5px; 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
	min-width: 200px;
	margin: auto 10px 10px 10px;
    font-size: 16px;
}

.em-col > #submit-button, #save-button, #verify-submit, #cancel-submit, #cancel-override {
	margin: 20px 0px 0px 0px;
    width: 120px;
    max-width: 120px;
    min-width: 120px;
    height: 25px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 2px 5px 6px 5px;
    border: 1px solid black;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
	font-size: 16px;
	cursor: pointer;
}

#verify-submit {
	background-color: springgreen;
}

#cancel-submit, #cancel-override {
	background-color: red;
}

#verify-submit:hover, #cancel-submit:hover, #cancel-override:hover {
	opacity: 0.6;
}


/*Text Editor, Editor Menu, Editor Menu Bar*/
.editor-menu {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}
.text-editor {
    display: flex;
    flex-direction: column;
    display: inline-block;
    border-bottom: none;
    min-width: 80%;
    max-width: 80%;
    font-size: 14px;
    font-family: Helvetica, Arial, sans-serif;
}

.editor-menubar {
    display: inline-block;
    border-bottom: none;
    font-size: 14px;
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
    padding-left: 0%;
}

#submit-button:focus, #save-button:focus, #verify-submit:focus, #cancel-submit:focus, #cancel-override:focus {
    outline: none;
}

.emb-row {
    border-bottom: 1px solid black;
}

.editor-menubar > li{
    background-color: #fff;
    list-style-type: none;
    padding: 10px;
}

.emb-row {
    display: flex;
    flex-direction: row;
}

li input[type="button"] {
    border: none;
    padding: 10px 12px;
    background-color: white;
    color: black;
    cursor: pointer;
    display: inline-block;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
   
}

li input[type="button"]:focus {
    outline: none;
}

li #font-family, #font-size, #line-spacing {
    border: none;
    padding: 10px 12px;
    color: black;
    display: inline-block;
    font-size: 14px;
    opacity: 0.5;
	cursor: default;
}


li:hover input[type="button"] {
    background-color: lightgrey;
}

.fa {
    padding: 10px;
    font-size: 25px;
    width: 15px;
    text-align: center;
    text-decoration: none;
    margin: 5px 10px 10px 10px;
    border-radius: 50%;
}

.text-editor {
    border: 1px solid black;
	line-height: 115%;
    width: 80%;
    padding: 5% 10% 5% 10%;
    min-height: 800px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.25);
	font-family: Helvetica;
	font-size: 13pt;
    resize: none;
    overflow: auto;
    -ms-overflow-style: none;
}

.text-editor:focus {
    outline: none;
}

.text-editor > a {
	color: black;
	text-decoration: none;
	border-bottom: 2px solid #83A8F0;
}

.text-editor > a:hover {
	color: #83A8F0;
}

#insert-link {
	position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.25);
    border: 1px solid black;
    text-align: center;
	max-width: 200px;
    z-index: 900;
	min-height: 100px;
    background-color: #1864F7;
	border-radius: 4px;
	overflow: hidden;
	display: none;
}



#insert-link > input[name="text"], input[name="link"] {
	margin: 10px 5px 10px 5px;
	font-size: 10pt;
}

#set-link {
	margin-bottom: 15px;
    background-color: #fff;
    opacity: 0.5;
}

.link-row, .menubar-row {
	display: flex;
	flex-direction: row;
}

.menubar-row {
	align-content: center;
	justify-content: center;
}


.submit, .override {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
}


.modal-content, .override-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
