article { padding: 20px; }
p { word-wrap: break-word; }

.columnError {
    font-size: 20px;
    color: grey;
    font-style: italic;
    text-align: center;
    margin-top: 75%;
    padding: 5%;
}

.divider {
    width: 1px;
    margin: auto 0px;
    height: 80%;
    background: #3d9be9;
}

.bannerAd {
    grid-area: bannerAd;
}

.sidebar-heading {
    margin: 10px auto 5px auto;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
    color: #414141;
}

#editorPicks {
    grid-area: editorPicks;
}
#trending {
    grid-area: trending;
}

#editorPicks > article img, #trending > article img {
    max-width: 325px;
    max-height: 217px;
}

#editorPicks > article h1, #trending > article h1 {
    margin: 10px auto 0px auto;
    font-size: 40px;
    font-weight: bold;
    color: #414141;
}

#mainArticle {
    grid-area: mainArticle;
    padding: 20px;
}
#mainArticle > article h1 {
    margin: 10px auto 0px auto;
    font-family: Arial black, Arial, Helvetiva, sans-serif;
    font-size: 40px;
    color: #414141;
    font-weight: bold;
}

#secondaryarticles {
    grid-area: stackedArticles;
    border-left: 1px solid #3d9be9;
    border-right: 1px solid #3d9be9;
    margin: 50px auto 50px auto;
}

.articleImage {
    width: 100%;
    display: block;
    margin: 0px auto 0px auto;
}

article a:not(.continue-reading):hover {
    text-decoration: underline;
    text-decoration-color: inherit;
    color: inherit;
    text-decoration-skip: ink;
    text-decoration-skip-ink: auto;
}

#adsenseBanner {
    grid-template-areas: adsenseBanner;
}

.pageContent {
        margin: 0px 5% 0px 5%;
        display: grid;
}

@media only screen and (min-width: 768px) { /* Desktops */
    .pageContent { 
        grid-template-columns: 1fr auto 2fr auto 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas: 
            ".               adsenseBanner   adsenseBanner   adsenseBanner   ."
            "editorPicks     .               mainArticle     .               trending"
            "bannerAd        bannerAd        bannerAd        bannerAd        bannerAd"
            "stackedArticles stackedArticles stackedArticles stackedArticles stackedArticles";
    }
}

@media only screen and (max-width: 600px) { /* Mobile */
    .divider { display: none; }
    #secondaryarticles { border: none; }
    #secondaryarticles article {
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
    }
    .pageContent {
        margin: 0;
        grid-template-columns: 1fr;
        grid-template-areas:
            "adsenseBanner" 
            "mainArticle"
            "editorPicks"
            "trending"
            "bannerAd"
            "stackedArticles"
    }
    .headerContainer #center h1 {
        font-size: 4.5vh;
    }
}

