.searchFlex {
    display: flex;
    flex-direction: column;
}
.buttonFlex {
    display: flex;
    flex-direction: column;
}

.filterFlex {
    display: flex;
    flex-direction: column;
}

.imgFlex {
    display: flex;
    flex-direction: column;
    align-content: stretch;
    margin-left: 2%;
    margin-top: 2%;
}

.spanFlex {
    display: flex;
    flex-direction: column;
    font-size: 24px;
    margin-left: 2%;
    margin-top: 2%;
    font-family: serif;
}

.adFlex {
    display: flex;
    flex-direction: column;
    margin-right: 30%;
}

.testFlex {
    display: flex;
    flex-direction: row;
}

.flexRow {
    display: flex;
    flex-direction: row;
}


hr.searchHr {
    margin-bottom: 0px;
}

#searchInput {
    min-width: 50vw;
    width: 50%;
    float: left;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 12px 10px 12px 10px;
    border: 1px solid #DDD;
    margin-bottom: 12px;
}

form.search button {
    float: left;
    width: 10vh;
    height: 5vh;
    background: #83A8F0;
    color: white;
    vertical-align: text-top;   
    font-size: 16px;
    border: 1px solid #DDD;
    border-left: none;
    cursor: pointer;
    margin-bottom: 12px;
    margin-right: 10%;
}


form.search button:hover {
    background: #0b7dda;
}

form.search:after {
    content: "";
    clear: both;
    display: table;
}

#filter {
    color: #83A8F0;
    text-decoration: none;
    font-size: 20px;
    font-family: serif;
    display: block;
    height: 2%;
    margin-left: 20px;
}

#filter:hover {
    text-decoration: underline;
}
.tip span {
    margin-left:10px;
    vertical-align: top;
    font-family: serif;
    font-size: 20px;
} 
.image img {
    vertical-align: middle; 
}

#divFilter {
    border: 1px solid black;
    background-color: aquamarine;
    width: 20%;
    margin-left: 12.5%;
    display: none;
    text-align: center;
    word-wrap: break-word;
}

#divSideAds {
    height: 100vh;
    float: left;
    margin: 20%;
    margin-top: 0px;
    border: 1px solid #DDD;
}

#divTest {
    border: 1px solid black;
    background-color: white;
    min-width: 50vh;
    width: 50%;
    float: left;
    overflow: hidden;
}