        body {
            display: flex;
            flex-direction: column;
        }
        
        .header {
            background-color: aliceblue;
        }
        
        h1 {
            background-color: antiquewhite;
            margin: 0px;
        }
        
        .nav {
            display: flex;
            flex-direction: column;
            background-color: blueviolet;
        }
        
        .display {
            display: flex;
            flex-direction: column;
            background-color: antiquewhite;
            margin-top: 20px;
            margin-bottom: 20px;
            width: 80%;
            align-self: center;
        }
        
        h2 {
            background-color: bisque;
            border-bottom: 1px solid #3d9be9;
            width: 80%;
            height: auto;
        }
        
        input[type=password] {
            padding: 5px 80px 5px; 0px;
            border: 1px solid #ccc;
            border-radius: 4px;
            background-color: beige;
        }
        
        input[type=submit] {
            margin-top: 10px;
            padding: 5px 10px 5px 5px;
            border: 1px solid #ccc;
            border-radius: 4px;
            background-color: beige;
        }