/* HEADER */
.header {
    width: 100%;
    min-width: 100vh;
    height: 10vh;
    min-height: 10vh;
	background: #83a8f0;
	background: linear-gradient(140deg, #83A8F0 0%, #BDD4E7 50%, #8693AB 75%);
}

.hdrflxr {
    display: flex;
    flex-direction: row;
}

#hdrlft, #hdrrt {
    display: flex;
    flex-direction: column;
    width: 25vw;
    height: 10vh; /*Same height as header*/
}

.hdrlftFlxr {
	display: flex;
	flex-direction: row;
	height: 55%;
	min-width: 100%;
}


#hdrmid {
    display: flex; 
    flex-direction: column;
    width: 50vw;
    height: 10vh; /*Same height as header*/
	display: inline-block;
}

/* TITLE */
.hdrTitle {
    font-family: 'Do Hyeon', sans-serif;
    font-size: 50px;
    text-shadow: 4px 3px 2px #7E7F7F;
	position: absolute;
	text-align: center;
	margin: 1% auto auto 0.5%;
}

.hdrctr {
	width: 50%;
	margin: 0 auto;
	height: 100%;
	max-height: 10vh;
	white-space: nowrap;
	
}


.hdrlftFlxc {
	display: flex;
	flex-direction: column;
	width: 50%;
}

a.hdrA {
    color: white;
    text-decoration: none;
}

.hdrLogo {
	/*height: 100%*/
	position: relative;
	height: 104.89px;
	min-height: 104.89px;
    width: 100px;
   	margin:  auto auto auto 20%;
	display: inline-block;
}


/* LOGIN/SEARCH */
.lgnLink, .username {
    margin: auto auto auto auto;
    font-family: Arial, Helvetica, sans-serif;
}

.lgnLink:hover, .username:hover {
    text-decoration: underline;
    cursor: pointer;
}

.lgnLink .fa {
    font-size: 15px;
    width: 15px;
    margin: auto auto auto auto;
}

.lgnDrpdwn-content { 
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
    border: 1px solid black;
    text-align: center;
    z-index: 900;
	float: left;
	max-height: 273px;
    background-color: white;
    display: none;
	border-radius: 4px;
	right: 0;
}


.lgnLink:hover .lgnDrpdwn-content {
    display: block;
}

.lgnDrpdwn-content .dropdown-caret {
    position: absolute;
    top: -10px;
    left: 12px;
    width: 18px;
    height: 10px;
    float: left;
    overflow: hidden;
}

.dropdown-caret .caret-outer {
    border-bottom: 10px solid #657786;
    border-bottom-color: rgba(0,0,0,0.1);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    height: auto;
    left: 0;
    top: 0;
    width: auto;
}

.lgnDrpdwn-content a {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-decoration: none;
    display: block;
}

.lgnDrpdwn-content > a:hover {
    text-decoration: underline;
}

.lgnDrpdwn-content hr {
    margin: auto auto auto auto;
    opacity: 0.5;
}

.lgnDrpdwn-content form {
    align-content: center;
    justify-content: center;
}

.lgnDrpdwn-content p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    cursor: auto;
}

.lgnDrpdwn-content input {
    margin: auto auto 10px auto;
    padding: 5px 10px 5px; 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
	min-width: 200px;
	margin: auto 10px 10px 10px;
    font-size: 16px;
}

.lgnDrpdwn-content input[type="submit"] {
	background: #83A8F0;
	color: white;
	border-radius: 100px;
    cursor: pointer;
    font-size: 14px;
	min-width: 250px;
    line-height: 15px;
    padding: 6px 16px;
    position: relative;
    text-align: center;
    white-space: nowrap;
	margin: auto 10px 10px 10px;
}

.lgnDrpdwn-content button {
	min-width: 250px;
	border-radius: 100px;
    margin: auto auto 10px auto;
    padding: 5px 10px 5px; 10px;
    border: 1px solid #83A8F0;
    background-color: white;
    color: #83A8F0;
    border-radius: 4px;
}

.lgnDrpdwn-content button:hover {
    border: 1px solid #1864F7;
    background-color: #83A8F0;
    opacity: 0.5;
}

.username-content {
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
    border: 1px solid black;
    text-align: center;
    z-index: 1;
    min-width: 180px;
    background-color: white;
    display: none;
	right: 0;
}

.username:hover .username-content {
    display: block;
}

.username-content a {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-decoration: none;
    display: block;
    padding: 10px 0px 10px 0px;

}

.username-content p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    cursor: auto;
}

.username-content a[href="/profile.php"]:hover, a[href="/help.php"]:hover, a[href="/settings.php"]:hover, a[href="/logout.php"]:hover {
    background-color: #83A8F0;
    color: white;
}

.username-content hr {
    margin: auto auto auto auto;
    opacity: 0.5;
}

.srcIcn{
	margin: 6px 0px 0px 10px;
    width: 120px;
	max-width: 120px;
	min-width: 120px;
    height: 25px;
	text-align: center;
    padding: 0px 5px 6px 5px;
    border: 1px solid black;
    border-radius: 15px;
	position: relative;
    overflow: hidden;
    
}

.srcIcn .fa {
    font-size: 15px;
    text-decoration: none;
    margin: 0px 0px 0px 0px;
	
}

.srcIcn:hover {
    background: linear-gradient(-140deg, #83A8F0 0%, #BDD4E7 50%, #8693AB 75%);
    color: white;
    cursor: pointer;
}

.fa:hover, .fa-search:hover {
    cursor: pointer;
}
/* END OF HEADER */


/* SEARCH BAR */

#searchbar {
    z-index: 1;
    background: #f3f3f3;
    max-width: 100%;
    min-width: 100vh;
    list-style-type: none;
    margin: 0;
    padding: 20px 0px 10px 20px;
    text-align: center;
    opacity: 0.8;
    display: none;
	font-family: Arial, Helvetica, sans-serif;
}

#searchbar input[type="text"] {
    opacity: 1;
    border-radius: 5px;
    padding: 10px 15px 10px 15px;
    min-width: 200px;
    font-size: 14px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
}

#searchbar > hr {
    margin: 0px 20% 20px 20%;
    max-width: 80%;
	box-shadow: 0 20px 20px -20px #333;
	border-bottom: 1px solid #1f1209;
}

/* CREATE USER (LAYOUT) */

#titleText {
    text-align: center;
    font-size: 72px;
    font-family: serif;
}
            
#titleDiv {
    background-color: aquamarine;
    padding: -10px;
}
                  
#mascotImage {
    height: 300px;
    width: 240px;
    float: left;
}
            
#newUserForm {
    border: 2px solid black;
    border-radius: 10%;
    padding: 10px;
                
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 300px;
    float: right;            
}
            
#bodyDiv {
    margin: auto;
    width: 600px;
}

/* FOOTER */
footer {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background: #83A8F0;
    background: linear-gradient(140deg, #83A8F0 0%, #BDD4E7 50%, #8693AB 75%);
    padding: 0 20px;
    position: relative;
    margin-bottom: 0;
}

.fab {
    padding: 10px;
    font-size: 25px;
    width: 27px;
    text-align: center;
    text-decoration: none;
    margin: 5px 10px 10px 10px;
    border-radius: 50%;
}

.fa-facebook, .fa-twitter, .fa-youtube, .fa-instagram {
    background: black;
    color: white;
}

.fa-facebook:hover {
    background: #3b5998;
}
.fa-twitter:hover {
    background: #00aced;
}
.fa-youtube:hover {
    background: #bb0000;
}
.fa-instagram:hover {
    background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}


.ftFlxr{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.ft {
    font-size: 18px;
    text-decoration: none;
    color: white;
    margin: 5px 10px 10px 10px;
}

.ft:hover {
    text-decoration: underline;
    opacity: 0.7;
}

p.ftCpyright {
    font-size: 14px;
    color: black;
    padding: 5px;
}



/* USER_WRITER_ADMIN_PAGEV3*/  

.PageRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: antiquewhite;
    height: 84vh;
}
        
.PageBorder {
    border: 1px solid blue;
    height: auto;
}

.PageColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: azure;
    width: 80%;
}
        
.tools {
    font-size: 24px;
    text-decoration: underline;
}

/* NAVIGATION BAR */

#drpdwn {
    margin: 10px 0px 0px 10px;
    height: 20;
    width: 15%;
    overflow: hidden;
    max-width: 35px;
}

#drpdwnIcon {
    background-color: black;
    height: 5px;
    border-radius: 20px 20px 20px 20px;
    margin-bottom: 5px;
    width 70px;
}

#drpdwnNav {
	position: absolute;
    background-color: black;
    height: 80vh;
    width: 100%;
	min-width: 100vh;
    display: none;
    opacity: .9;
	overflow: scroll;
}
.drpdwnFlxr {
    display: flex;
    flex-direction: row;
}

.drpdwnLink {
    color: white;
    text-decoration: none;
    text-align: center;
}

.drpdwnLink:hover {
    color: #83A8F0;
}

.drpdwnFlxc {
    display: flex;
    flex-direction: column;
    width: 33.33%;
    height: 50vh;
}

.drpdwnCont {
    text-decoration: underline;
    text-decoration-color: #83A8F0;
    color: white;
    text-align: center;
}


/* Navigation Bar */
#navbar {
	overflow: hidden;
  	background-color: #f3f3f3;
	text-align: center;
	width: 100%;
	min-width: 100vh;
	list-style-type: none;
    margin: 0;
    padding: 10px 0px;
	opacity: .8;
}

#navbar a {
  	display: inline;
  	color: black;
  	text-align: center;
  	padding: 14px 16px;
  	text-decoration: none;
  	font-size: 17px;
	font-family: sans-serif;
	margin-right: auto auto auto auto;
	width: 101px;
}

#navbar a:hover {
  background-color: #ddd;
}


.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

    
/* LOGIN */

.loginWrap {
    width: 400px;
    background-color: beige;
    height: 200px;
    border: solid 2px lightblue;
    border-radius: 20px 0px;
    padding: 10px;
}

img.loginImg {
    width: 140px;
    float: right;
    height: 190px;
    padding: 5px;
}

h1.loginH1, label.loginLbl{
    font-family: 'Do Hyeon', sans-serif
}

#loginUsername, #loginPassword {
    margin: 5px;
    border: solid 1px lightblue;
    width: 100%;
    border-radius: 5px;
    height: 20px;
    font-size: 12px;
}

.loginButtons, .loginWrap, .loginRelative {
    margin: 10px auto;
    display: flex;
}

.loginButtons {
    width: 426px;
    height: 50px;
    align-items: center;
}

.loginButtons a.loginA, .loginButtons input.loginInput {
    height: 50px;
    width: 50%;
    text-decoration: none;
    color: black;
    text-align: center;
    background-color: lightblue;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 20px;
    border: solid 2px black;
    margin: 5px;
    border-radius: 5px;
}

/* ABOUT */

.abtDivLeft {
    border-left: 1px solid grey;
    height: auto;
    height: 100vh;
    float: left;
    margin-left: 20%;
    margin-right: 30px;
}

.abtDivRight {
    border-right: 1px solid grey;
    height: 100vh;
    float: right;
    margin-right: 20%;
    margin-left: 30px;
}

.abtDivh {
    margin-right: 50%;
    margin-left: 23%;
    border: 3px solid black;
    border-radius: 10%;
    text-decoration: underline;
}

.adbDivp {
    border: 3px solid black;
    margin-left: 23%;
}


#abtTitleId {
    text-align: center;
    font-size: 40px;
    text-decoration: underline;
}

.abtHead1 {
    padding-left: 20px;
    font-family: serif;
}

.abtVl {
    border-left: 2px solid #83A8F0;
    height: 15px;
    display: inline;
    margin: 20px;
}

p.abtPar {
    padding-left: 20px;
    font-family: serif;
    font-size: 26px;
}

.abtHr {
    width: 100%;
    margin-bottom: 0%;
    border: 1px dashed grey;
}

#abtDivAds {
    background-color: antiquewhite;
    text-align: center;
    font-size: 30px;
    height: 20vh;
}

/* ARTICLE PAGE */

.apDivLeft {
    border-left: 1px solid grey;
    height: auto;
    height: 100vh;
    float: left;
    margin-left: 20%;
    margin-right: 30px;
}

.apDivRight {
    border-right: 1px solid grey;
    height: 100vh;
    float: right;
    margin-right: 20%;
    margin-left: 30px;
}

.apDivMid {
    border-left: 1px solid grey;
    height: auto;
    height: 100vh;
    float: left;
    margin-left: 5%;
}

.apDivArt {
    display: flex;
    flex-direction: column;
    background-color: aquamarine;
    border: 1px dashed black;
    height: 100vh;
    margin-left: 20%;
    margin-right: 20%;
}

.apDivHoldTnArt {
    margin-left: 25%;
    margin-top: 5%;
    margin-bottom: 5%;
    border: 1px solid black;
    height: auto;
}
.apDivTn {
    float: left;
    background-color: antiquewhite;
    height: 20vh;
    margin-left: 10%;
    
    border: 1px dashed grey;
    font-size: 25px;
    margin-bottom: 5%;
}

.apArtContent {
    font-family: serif;
    font-size: 25px;
    margin-left: 30%;
}
.apDivPic {
    background-color: goldenrod;
    border: 1px dashed black;
    height: 40%;
}

#apTitleId {
    text-align: center;
    font-size: 40px;
    text-decoration: underline;
}

.apHead1 {
    font-family: serif;
    text-decoration: underline;
    margin-left: 30%;
}

.apHead2 {
    padding-left: 20px;
    font-family: serif;
    text-align: center;   
}

.apHead3 {
    padding-left: 20px;
    font-family: serif;
}
.apPArt {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
}
.apHr {
    width: 100%;
    margin-bottom: 0%;
    border: 1px dashed grey;
}

.apDivBannerAds {
    background-color: antiquewhite;
    text-align: center;
    font-size: 30px;
    height: 20vh;
}

.apDivSideAds {
    float: left;
    background-color: antiquewhite;
    text-align: center;
    font-size: 25px;
    height: 20vh;
    margin-left: 5%;
    border: 1px dashed grey;
    margin-top: 5%;
}

/* CONTACT */

.conDivLeft {
    border-left: 1px solid grey;
    height: auto;
    height: 100vh;
    float: left;
    margin-left: 20%;
    margin-right: 30px;
}

.conDivRight {
    border-right: 1px solid grey;
    height: 100vh;
    float: right;
    margin-right: 20%;
    margin-left: 30px;
}

#conTitleId {
    text-align: center;
    font-size: 40px;
    text-decoration: underline;
}

.conHead1 {
    padding-left: 20px;
    font-family: serif;
}

.conHead2 {
    padding-left: 20px;
    font-family: serif;
}

.conHead3 {
    padding-left: 20px;
    font-family: serif;
}
.conVl {
    border-left: 2px solid #83A8F0;
    height: 15px;
    display: inline;
    margin: 20px;
}

.conHr {
    width: 100%;
    margin-bottom: 0%;
    border: 1px dashed grey;
}

#conDivAds {
    background-color: antiquewhite;
    text-align: center;
    font-size: 30px;
    height: 20vh;
}

/* FEEDBACK */

.fbDivLeft {
    border-left: 1px solid grey;
    height: auto;
    height: 100vh;
    float: left;
    margin-left: 20%;
    margin-right: 30px;
}

.fbDivRight {
    border-right: 1px solid grey;
    height: 100vh;
    float: right;
    margin-right: 20%;
    margin-left: 30px;
}

#fbTitleId {
    text-align: center;
    font-size: 40px;
    text-decoration: underline;
}

.fbDead1 {
    padding-left: 20px;
    font-family: serif;
}

.fbHead2 {
    padding-left: 20px;
    font-family: serif;
}

.fbHead3 {
    padding-left: 20px;
    font-family: serif;
}
.fbVl {
    border-left: 2px solid #83A8F0;
    height: 15px;
    display: inline;
    margin: 20px;
}
.fbP {
    font-size: 20px;
}
.fbHr {
    width: 100%;
    margin-bottom: 0%;
    border: 1px dashed grey;
}

#fbDivAds {
    background-color: antiquewhite;
    text-align: center;
    font-size: 30px;
    height: 20vh;
}

/* HELP */

.helpDivLeft {
    border-left: 1px solid grey;
    height: auto;
    height: 100vh;
    float: left;
    margin-left: 20%;
    margin-right: 30px;
}

.helpDivRight {
    border-right: 1px solid grey;
    height: 100vh;
    float: right;
    margin-right: 20%;
    margin-left: 30px;
}

#helpTitleId {
    text-align: center;
    font-size: 40px;
    text-decoration: underline;
}

.helpHead1 {
    padding-left: 20px;
    font-family: serif;
}

.helpHead2 {
    padding-left: 20px;
    font-family: serif;
}

.helpVl {
    border-left: 2px solid #83A8F0;
    height: 15px;
    display: inline;
    margin: 20px;
}

.helpHr {
    width: 100%;
    margin-bottom: 0%;
    border: 1px dashed grey;
}

#helpDivAds {
    background-color: antiquewhite;
    text-align: center;
    font-size: 30px;
    height: 20vh;
}

/* PRIVACY */

.privDivLeft {
    border-left: 1px solid grey;
    height: auto;
    height: 100vh;
    float: left;
    margin-left: 20%;
    margin-right: 30px;
}

.privDivRight {
    border-right: 1px solid grey;
    height: 100vh;
    float: right;
    margin-right: 20%;
    margin-left: 30px;
}

#privTitleId {
    text-align: center;
    font-size: 40px;
    text-decoration: underline;
}

.privP {
    font-size: 20px;
}
.privHr {
    width: 100%;
    margin-bottom: 0%;
    border: 1px dashed grey;
}

#privDivAds {
    background-color: antiquewhite;
    text-align: center;
    font-size: 30px;
    height: 20vh;
}

/* TERMS OF USE */

.termsDivLeft {
    border-left: 1px solid grey;
    height: auto;
    height: 100vh;
    float: left;
    margin-left: 20%;
    margin-right: 30px;
}

.termsDivRight {
    border-right: 1px solid grey;
    height: 100vh;
    float: right;
    margin-right: 20%;
    margin-left: 30px;
}

#termsTitleId {
    text-align: center;
    font-size: 40px;
    text-decoration: underline;
}

.termsP {
    font-size: 20px;
}
.termsHr {
    width: 100%;
    margin-bottom: 0%;
    border: 1px dashed grey;
}

#termsDivAds {
    background-color: antiquewhite;
    text-align: center;
    font-size: 30px;
    height: 20vh;
}


/* ADVERTISING */
.adDivLeft {
    border-left: 1px solid grey;
    height: auto;
    height: 100vh;
    float: left;
    margin-left: 20%;
    margin-right: 30px;
}

.adDivRight {
    border-right: 1px solid grey;
    height: 100vh;
    float: right;
    margin-right: 20%;
    margin-left: 30px;
}

#adTitleId {
    text-align: center;
    font-size: 40px;
    text-decoration: underline;
}

.adP {
    font-size: 20px;
}
.adHr {
    width: 100%;
    margin-bottom: 0%;
    border: 1px dashed grey;
}

#adDivAds {
    background-color: antiquewhite;
    text-align: center;
    font-size: 30px;
    height: 20vh;
}

/* Globals (CS) */
body {
    font-family: Helvetica, Arial, sans-serif;
}

a {
    text-decoration: none;
    color: #83A8F0;
}

.continue-reading {
    display: block;
    width: 100%;
    text-align: center;
    text-decoration: none;
    font-family: Arial,Helvetica,sans-serif;
    color: #83A8F0;
    font-size: 17px;
}

.loader {
    margin: 10% auto;
    border: 10px solid #f3f3f3; /* Light grey */
    border-top: 10px solid black;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
