.loginWrap {
    width: 400px;
    background-color: beige;
    height: 200px;
    border: solid 2px lightblue;
    border-radius: 20px 0px;
    padding: 10px;
}

img {
    width: 140px;
    float: right;
    height: 190px;
    padding: 5px;
}

h1, label{
    font-family: 'Do Hyeon', sans-serif
}

#username, #password {
    margin: 5px;
    border: solid 1px lightblue;
    width: 100%;
    border-radius: 5px;
    height: 20px;
    font-size: 12px;
}

.buttons, .loginWrap, .relative {
    margin: 10px auto;
    display: flex;
}

.buttons {
    width: 426px;
    height: 50px;
    align-items: center;
}

.buttons a, .buttons input {
    height: 50px;
    width: 50%;
    text-decoration: none;
    color: black;
    text-align: center;
    background-color: lightblue;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 20px;
    border: solid 2px black;
    margin: 5px;
    border-radius: 5px;
}

/*
.buttons input{
    border-radius: 0 0 0 20px;
    border: none;
}

.relative {
    position: relative;
    width: 420px;
    height: 200px;
    background-color: lightblue;
    z-index: -1;
    bottom: 200px;
    border: solid 2px beige;
}
*/
