<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <link rel="stylesheet" type="text/css" href="res/css/homepage.css"/>
        <!-- Additional CSS imports here -->
        <title>The Poacher</title>
        <!-- Javascript/Jquery imports here -->
    </head>
<body>
        <div class="wrapper">

        <header class="header">
            <p>PLACEHOLDER HEADER</p>
            <!-- Header include goes here -->
        </header>
        
            <section id="primary-section">
                <div class="main-article">
                    <article>
                        <img src="http://via.placeholder.com/548x340">
                        <h1>Foo bar Baz</h1>
                        <p>Herp Derp</p>
                    </article>
                </div>
                <div class="divider left-divider"></div>
                <div class="sidebar left-sidebar">
                    <h1>Editor's Choice</h1>
                    <article>
                        <img src="http://via.placeholder.com/325x217">
                        <h2>Foo Bar Baz</h2>
                        <p>Derp</p>
                    </article>
                </div>
                <div class="divider right-divider"></div>
                <div class="sidebar right-sidebar">
                    <h1>Trending</h1>
                    <article>
                        <img src="http://via.placeholder.com/325x217">
                        <h2>Foo Bar Baz</h2>
                        <p>Derp</p>
                    </article>
                    <article>
                        <img src="http://via.placeholder.com/325x217">
                        <h2>Foo Bar Baz</h2>
                        <p>Derp</p>
                    </article>
                </div>
            </section>
            
            <section class="banner-ad">
                <div class="ad">
                    <p>AD</p>
                </div>
            </section>
            
            <section id="secondary-section">
                <div class="stacked-article">
                    <article>
                        <p>Foo</p>
                    </article>
                </div>
                <div class="stacked-article">
                    <article>
                        <p>Bar</p>
                    </article>
                </div>
            </section>
   
    <footer class="footer">
        <p>PLACEHOLDER FOOTER</p>
        <!-- Footer include goes here -->
    </footer>
         </div>

</body>
</html>
